###
HOSTS="https://api2.longevity-genie.info,http://localhost:8087" #hosts for swagger API
PORT=8087

OPENSEARCH_USER="admin"
OPENSEARCH_PASSWORD="admin"
OPENSEARCH_URL="https://localhost:9200" #change to your opensearch server location
DEFAULT_EMBEDDING="bge_base_en_v1.5"
DEFAULT_COLLECTION="aging_papers_paragraphs_bge_base_en_v1.5"


#HUGGING FACE
HUGGINGFACEHUB_API_TOKEN="hf_xxxxxxxxx"
